$yellow:#fffa19;
$red:#BA0022;
$green:#004A4A;

@mixin mapaCol($top, $bottom){
    margin-top:$top;
    margin-bottom:$bottom;
    background-color: $yellow;
    padding: $top $top $bottom $top;
}



.jumbotron{
    background-color: $yellow;
    color: $green;
    margin-top: 50px;
}

footer{
    @include mapaCol(10px,0px);
}

.card-hotel{
    flex:1 200px;
    margin-top:10px;

}

.btn-reserva{
    width:100%;
    border-radius:0px;
}


.footer-addres-icon{
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}