.jumbotron {
  background-color: #fffa19;
  color: #004A4A;
  margin-top: 50px; }

footer {
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #fffa19;
  padding: 10px 10px 0px 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
